<div class="text-center">
        <img class="logo" src="../../images/bigtechblog.png" class="img-fluid" alt="Logo">
        <p>welcome to #bigtechblog</p>
        <p>login or sign up to get started</p>
</div>