:root{
    --darkred: #591E11;
    --lightred: #A6351C;
    --offwhite: #D9CCC1;
    --darkgray: #012326;
    --darkblue: #025159;
    --lightblue: #6fb8c1;
}

body{
    background-color: var(--offwhite);
}

header{
    background-color: var(--darkgray);
}

h1{
   font-weight: 900px; 
   color: var(--offwhite);
}

ul {
   list-style:none;
   font-size: 20px;
}

a{
    text-decoration: none;
    color: var(--darkgray);
}

a:hover{
    color: var(--lightblue);
}
button{
    border-radius: 9px;
    border: solid 2px var(--darkgray);
    background-color: var(--lightblue);
}

button:hover{
    box-shadow: 2px 2px 2px var(--darkblue);
}

textarea {
    width: 100%;
    border: solid 2px var(--darkgray);
    border-radius: 9px;
}

input {
    border: solid 2px var(--darkgray);
    border-radius: 9px;
    margin: 2px;
}

.funbutton{
    background-color: var(--lightblue);
    color: var(--darkgray);
    padding: 2%;
}

.smallbox{
    width: 50%;
}

.offwhite{
    color: var(--offwhite);
}


.card-header{
    background-color: var(--darkgray);
    color: var(--offwhite);
    padding-bottom: 0%;
}

.navitem{
    width: 100%;
    display: flex; 
    justify-content: space-around; 
    color: var(--offwhite);
}

.commentbox{
    padding: 2%;
}

.smalltext{
    font-size:15px;
}